body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    text-align: center;
}

.title {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group label {
    display: block;
    text-align: left;
    margin-bottom: 6px;
    font-weight: 600;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

.btn-login {
    background-color: #ff6b6b;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-login:hover {
    background-color: #ff4b4b;
}

.link-to-login {
    margin-top: 20px;
}

.link-to-login a {
    color: #007BFF;
    text-decoration: none;
    font-size: 14px;
}
